<ion-header>
  <ion-toolbar color = "blue" mode = "md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title><h1 class = "ion-text-center"></h1></ion-title>
    <ion-searchbar color="dark" (ionChange)="buscar ( $event )"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let place of place" [routerLink]="['/places/place-search', place.id]">
    <ion-avatar slot="start">
      <ion-img [src]="place.imageURL"></ion-img>
    </ion-avatar>
    <ion-label>
      {{place.title}}
    </ion-label>
  </ion-item>
</ion-content>
