<ion-item [routerLink]="['/places', placeItem.id]">
  <ion-row >
    <ion-col size = 5 >
        <ion-img [src]="placeItem.imageURL"></ion-img>
    </ion-col>
    <ion-col size = 5 class = "ion-no-padding" offset="1" class = "ion-text-center">
      <ion-label>
        {{ placeItem.title }}
      </ion-label> 
  </ion-col>

</ion-row>
</ion-item>