<ion-header>
  <ion-toolbar color = "#3880ff" >
    <ion-title><h1 class = "ion-text-center">App de Reservas </h1></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
    <ion-button expand="block" color="dark"   href="/places/place-search">
  Buscar
  </ion-button>
  <ion-list>
    <app-place-item *ngFor="let place of places " [placeItem]="place"></app-place-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="blue" (click)="addNewPlace()" type="button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>