<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>
Nuevos lugares aquí      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Tipo" type="text" #title></ion-input>
          <ion-input placeholder="Direccion para imagen" #imageURL></ion-input>
          <ion-input placeholder="Direccion para imagen" #imageURL2></ion-input>
          <ion-input placeholder="Direccion para imagen" #imageURL3></ion-input>
          <ion-input placeholder="Informacion Adicional" type="text" #dato></ion-input>
          <ion-input placeholder="anfitrion" type="text" #anfitrion></ion-input>
          <ion-input placeholder="precio en colones" type="text" #precio></ion-input>
          <ion-input placeholder="Detalles adicionales" type="text" #detalles></ion-input>

          <ion-button color="primary" (click)="saveNewPlace(title, imageURL, imageURL2, imageURL3, dato, anfitrion, precio, detalles)">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
