
<ion-content color = "blue">
  <ion-card>
    <ion-img style="height: auto; max-width: 23vh;"  src="assets/fotos/book.jpg"></ion-img>
  </ion-card>
</ion-content>
<ion-content color = "blue">
  <ion-row>
    <ion-col>
      <ion-card color = "blue">
        <ion-card-content>
          <ion-input placeholder="Ingrese el usuario" type="text"  #admin></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card color = "blue">
        <ion-card-content>
          <ion-input placeholder="Ingrese el Contraseña" #admin></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
  <ion-content color = "blue">
    <ion-fab horizontal="end" slot="fixed">
      <ion-button color="tertiary"   href="/places">
      Log in
    </ion-button>
    </ion-fab>
  </ion-content>